:root{
    --background-color: radial-gradient( #3D3D31, #494937, #757555);
    --secondary-color: #FFE000 ;
    --nav-color:#141614;
    --white-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100%;
    background-image:radial-gradient( #3D3D31, #494937, #757555); ;
}


h1{
    color: var(--secondary-color);
    font-family: "Water Brush";
    font-size: 40px;
    font-weight: 900;
}

h2{
    color: var(--secondary-color);
    font-family: "Whisper";
    font-size: 90px;
    font-weight: 900;
}

p{
    color: var(--white-color);
    font-size: 20px;
    font-weight: 600;
}
section{
    padding: 0 20%;
}

main{
    max-width: 1750px;
}

/*------------ Nav Styles-------------*/
nav{
    align-items: center;
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    top: 0;
    padding: 10px 10%;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 1000; /* la barra de navegacion se sobre pone por el resto de items */

    & a{
        border-bottom: 2px solid transparent;
        color: var(--secondary-color);
        font-weight: 600;
        margin-left: 60px;
        transition: all .55s ease-out;
    }

    & a:hover{
        border-bottom: 3px solid var(--white-color);
    }
}

.navlist{
    display: flex;
}

/*------------ Menu Styles-------------*/

#menu-icon{
    color: rgb(246,208,76);
    cursor: pointer;
    display: none;
    font-size: 40px;
    z-index: 10001;
}


/*------------ Hero Styles-------------*/

.hero{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    height: 100%;
    min-height: 100vh;
    position: relative;
    width: 100%;

    & img{
        clip-path: circle();
        height: auto;
        transition: all .55s ease;
        width: 500px;
    }

    & img:hover{
        transform: scale(1.1);
    }

    & h2{
        margin: 0 0 45px;
    }

    & p{    
        margin: 0 0 40px;
        line-height: 1.9;
    }
}

.hero-text {
    width: 100%;
    margin: 0 0 45px;
}

.hero-text a{
    display: inline-block;
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: 600;
    padding: 0 20px;
}

.icons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 10px;
    text-align: center;
    
    & i{
        transition: all .55s ease;
    }
    
    & i:hover{
        transform: translatey(-10px) ;
    }
}

/*------------ Products Styles-------------*/

#products{
    & h2{
        margin:  0 0 30px;
        text-align: center;
    }

    & p{
        margin: 0 0 30px;
        text-align: center;
        width: 100%;
    }
}

.imageProducts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 1rem;
    width: 100%;

    & img{
        border-radius: 20px;
        border-style: groove;
        border-color: var(--secondary-color);
        height: 400px;
        object-fit: cover;
        transition: all .55s ease;
        width: 360px;
    }

    & img:hover{
        transform: scale(1.1);
    }
}

/*------------ Contact Styles-------------*/

#contact{
    & h2{
        margin:  0 0 45px;
        text-align: center;
        width: 100%;
    }

    & p{
        margin: 0 0 45px;
        text-align: center;
        width: 100%;
    }

    & p strong{
        color: var(--secondary-color);
        font-size: 25px;
    }

    & img{
        transition: all .55s ease;
        width: 20%;
        padding-top: 5px;  
    }

    & img:hover{
        transform: scale(1.2);
    }
}

.form-icons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}

/*------------ Footer Styles-------------*/

.footer{
    background-color: var(--nav-color);
    color: var(--secondary-color);
    padding: 10px;
}