:root{
    --background-color: background-image: radial-gradiente( #3D3D31, #494937, #757555);
    --primary-color: #FFE000 ;
    --nav-color:#141614;
    --white-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background-image:radial-gradient( #3D3D31, #494937, #757555);
    overflow-x: hidden;
}


.logo-text {
    color: var(--primary-color);
    font-family: "Water Brush";
    font-size: 30px;
    font-weight: 900;
    border: none;
}


h1{
    color: var(--primary-color);
    font-family: "Whisper";
    font-size: 90px;
    font-weight: 900;
}


h2{
    color: var(--primary-color);
    font-family: "Whisper";
    font-size: 90px;
    font-weight: 900;
}

h3{
    color: var(--primary-color);
    font-family: "Whisper";
    font-size: 60px;
    font-weight: 900;
}


p{
    color: var(--white-color);
    font-size: 20px;
    font-weight: 600;
}

.nav-container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}

/*------------ Nav Styles-------------*/

nav{
    position: sticky;
    z-index: 9999;
    background: var(--nav-color);
    padding: 20px;
    
    & ul {
        display: flex;
        justify-content: center;
        padding: 10px;
        gap: 50px;
    }

    & ul a{
        border-radius: 5px;
        border-bottom: 2px solid transparent;
        transition: all .55s ease;
    }

    & ul a:hover{
        border-bottom: 2px solid var(--white-color);
    }

    & i{
        padding-right: 5px;
    }

    & a{
        user-select: none;
        font-size: 15px;
        color: var(--primary-color);
        height: auto;
    }
}

/*------------ Menu Styles-------------*/

#menu-icon{
    color: rgb(246,208,76);
    cursor: pointer;
    display: none;
    font-size: 40px;
    z-index: 1000;
}


/*------------ Hero Styles-------------*/

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    & img{
        width: 500px;
        height: auto;
        text-align: center;
        clip-path: circle();
        transition: all .55s ease;
    }

    & img:hover{
        transform: scale(1.1);
    }

    & h1{
        padding-bottom: 40px;
        text-align: center;
        max-width: 475px;
    }

    & p{
        width: 550px;
        line-height: 1.9;
    }
}

.hero-img{
    text-align: center;
}

.icons{
    text-align: center;

    & a{
        color: var(--primary-color);
        font-size: 30px;
        padding: 10px 20px;
        margin-bottom: 30px;
    }
    
    & img{
        width: 45px;
        height: 45px;
        display: inline-block;
        transition: all .55s ease;
    }

    & img:hover{
        transform: scale(1.5);
    }

    & p{
        font-size: 25px;
        font-family: "Water Brush";
        font-weight: 100;
    }
}
.social-icons{
    display: grid;
    padding: 0 600px;
    grid-template-columns: repeat(3,1fr);
    transition: all .55s ease;
}

.social-icons:hover{
    transform: scale(1.1);
}


/*------------ Products Styles-------------*/
.section-products {
    text-align: center;

    & h2{
        margin-top: 20px;
        text-align: center;
    }

    & p{
        margin: 0 auto;
        padding: 30px;
        width: 900px;
        line-height: 1.9;
    }

    & img{
        width: 345px;
        height: 600px;
        object-fit: cover;
        border-radius: 30px;
        padding: 20px;
        transition: all .55s ease;
    }

    & img:hover{
        background:var(--white-color);
        padding: 1px;
        transform: scale(1.1);
    }
}

.slider{
/*margin: 30px;
    padding: 20px 20px;
    overflow: hidden;*/
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    display: flex;
}

.slider .slide-track{
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 100s linear infinite ;
    width: calc(500px * 18);
}
.slider .slide {
    width: 500px;
}

.slider .slide img{
    width: 100%;
}

@keyframes scroll {
    0%{
        -webkit-animation: translatex(0);
        transform: translatex(0);
    }
    100%{
        transform: translatex(calc(-200px * 9));
        -webkit-animation: translatex(calc(-200px * 9));
    }
}




/*------------ Contact Styles-------------*/

.section-contact{
    text-align: center;
    margin-bottom: 100px;

    & h2{
        margin-top: 20px;
        text-align: center;
    }

    & p{
        margin: 0 auto;
        padding: 30px;
        width: 900px;
        line-height: 1.9;
    }

    & img{
        margin: 15px 15px;
        width: 90px;
        transition: all .55s ease;
    }

    & img:hover{
        transform: scale(1.3);
    }
}

.contact-icons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
    margin-bottom: 50px;

    & p{
        font-weight: bold;
        text-align: center;
        width: auto;  
        color: var(--primary-color);
        transition: all .55s ease; 
    }

    
    & p:hover{
        transform: scale(1.3);
    }

    & a{
        border-left: 2px solid var(--primary-color);
        border-left-style: dotted;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    & a:last-child {
        border-right: 2px solid var(--primary-color);
        border-right-style: dotted;
    }
}
/*------------ Footer Styles-------------*/

footer{
    padding: 30px 30px;
    background: var(--nav-color);
    color: var(--primary-color);
}