@media (max-width: 1195px){
    nav{
        padding: 15px 10%;
        transition: .2s;
    }

    .logo-text{
        padding-left: 10px;
        height: auto;
    }

    .hero-text{
        padding-top: 10px;
    }

    .hero-img img{
        width: 80%;
    }

    .social-icons{
        & img{
            width: 40px;
        }
        & p{
            display: none;
        }
    }

    /* Products */
    .section-products{
        transition: .2s;
        text-align: center;

        & img{
            height: 500px;
        }
    }

    .imageProducts img{
        width: 90%;
        height: 400px;
        object-fit: cover;
    }
}

@media (max-width: 990px) {
    #menu-icon{
        display: block;
    }

    .logo-text{
        font-size: 30px;
    }
    .navlist{
        border-radius: 10px;
        position: absolute;
        top: 100%;
        right: -100%;
        width: 180px;
        height: 25vh;
        background-image: linear-gradient(rgba(20, 22, 20, 0.986),rgba(30, 30, 30, 0.966),rgb(20, 20, 20));
        display: flex;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 10px;
        transition: .55s ease;
    }

    .navlist a{
        display: block;
        margin: 0 0;
    }

    .navlist.open{
        right: 0;
    }
    
    .hero-text h1{
        font-size: 60px;
    }

    .hero-text p{
        font-size: 15px ;
    }

    .icons .container{
        width: 600px;
    }

    .social-icons{
        width: 600px;
    }

    .icons img{
        width: 40px;
    }

    .hero .container{
        max-width: 600px;
        margin: 0 auto;
        display: block;
        text-align: -webkit-center;
    }

    .social-icons .container{
        max-width: 600px;
        margin: 0 auto;
        display: block;
        text-align: -webkit-center;
    }

    #products .container{
        width: 600px;
    }
    .section-products {
        & h2{
            font-size: 60px;
            width: 600px;
        }
        & p{
            font-size: 15px;
            width: 600px;
        }
    }
    
    #contact .container{
        width: 600px;
    }
    .section-contact{
        & h2{
            font-size: 60px;
            width: 600px;
        }
        & p{
            font-size: 15px;
            width: 600px;
        }
        & p strong{
            font-size: 15px ;
        }
    }

    .contact-icons{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 400px;

        & img{
            width: 50px;
        }

        & p{
            width: 200px;
        }

        & a{
            width: 200px;
            border-left: 1px solid var(--primary-color);
        }
    
        & a:last-child {
            border-right: 1px solid var(--primary-color);
        }
    }
    
    footer{
        font-size: 10px;
    }
    
}

@media (max-width: 560px){
    .hero .container{
        width: 400px;

        & .hero-text{
            & h1{
                font-size: 50px;
                padding-bottom: 5px;
            }
    
            & p{
                width: 400px;
            }
            }
        .hero-img{
            & img{
                padding-bottom: 50px;
                max-width: 300px;
            }
        } 
    }

    .container .icons{
        margin: 0 auto;
        width: 400px;
    }

    .icons{
        width: 400px;
        & h3{
            font-size: 40px;
        }
        & img{
            width: 30px;
        }
    }

    .social-icons{
        width: 400px;
    }

    #products .container{
        width: 400px;
    }
    .section-products {
        & h2{
            font-size: 40px;
            width: 400px;
        }
        & p{
            width: 400px;
        }
    }

    .slide{
        max-width:200px;
    }

    #contact .container{
        width: 400px;
    }
    .section-contact{
        & h2{
            font-size: 40px;
            width: 400px;
        }
        & p{
            width: 400px;
        }
    }

    .contact-icons{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 400px;

        & img{
            width: 40px;
        }

        & p{
            display: none;
        }

        & a{
            width: 130px;
            border-left: 1px solid var(--primary-color);
        }
    
        & a:last-child {
            border-right: 1px solid var(--primary-color);
        }
    }
}